* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: #52a073
}

.section-title {
	padding: 25px;
	font-size: 60px;
	font-family: 'Muli', sans-serif;
	font-weight: 900;
}

.section-title::after {
	content: "";
	height: 3px;
	background-color: #e6e6e6;
	width: 100%;
	top: 50%;
	display: block;
}


@media (min-width: 1080px) { 

	.container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.nonnavpage {
		width: 1200px;
		padding-left: 300px;
	}
}