/*HEADER/NAV*/

.name {
	font-family: 'Muli', sans-serif;
	color: #fff;
	font-size: 80px;
}

.mobile-header {
	background-color: #91dcb1;
	height: 15%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 25px;
}

.hamburger {
	height: 6%;
	font-size: 35px;	
	color: #ffffff;
	line-height: 35px;
	cursor: pointer;
}

.expanded-menu ul {
	margin-top: 0 auto;
	width: 100%;
}

.expanded-menu li {
	height: 48px;
	width: 100%;
	text-align: center;
	line-height: 35px;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 25px;
	margin: 7px;
	border-bottom: 1px solid #e6e6e6;
	padding-bottom: 5px;
	margin-left: -1px;
}

.expanded-menu a {
	color: #91dcb1;
}

.hidden {
	display: none;
}

.menucontactinfo {
	display: none;
}








@media (min-width: 480px max-width: 1080px) {

	/*HEADER*/

	.mobile-header {
		padding-left: 50px;
		padding-right: 50px;
	}

	.section-title {
		font-size: 70px;
		padding-left: 50px;
		padding-right: 50px;
	}

	.menucontactinfo {
	display: none;
	}

}







@media (min-width: 1080px) { 

	/*HEADER/NAV*/

	header {
		position: fixed;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		width: 230px;
		height: 100vh;
		background-color: #91dcb1;
		text-align: center;
	}

	.name {
		font-size: 70px;
		margin-top: 65px;
		/*font-weight: 900;*/
	}

	.hamburger {
		display: none;
	}

	.expanded-menu {
		position: absolute;
		top: 25%;
	}

	.expanded-menu li {
		height: 20%;
		border-bottom: none;
		font-size: 20px;
		margin: 0 auto;
		color: white;
		font-weight: 300;
	}

	.expanded-menu a {
		color: white;
	}

	.menu-link {
		color: #fff;
	}

	.hidden {
		display: block;
	}

	#menucontact {
		display: none;
	}

	.menucontactinfo {
		display: block;
		margin: 50px;
	}

}