/*INTRO SECTION*/

.intro-section {
	font-family: 'Roboto', sans-serif;
	margin-top: 30px;
	padding: 15px 25px 15px 50px;
	font-weight: 200;
}

.intro-section p {
	margin-top: 15px;
	font-size: 20px;
}

.intro-section p:first-child {
	padding-top: 30px;
}

#welcome {
	font-family: 'Muli', sans-serif;
	font-size: 40px;
	color: #91dcb1;
}

.titleimage {
	display: none;
}








@media (min-width: 480px) {

	/*INTRO SECTION*/

	.intro-section {
		padding: 15px 50px 15px 50px;
	}

	.intro-section p:last-child {
		font-size: 20px;
		padding-bottom: 50px;
	}

	.welcome {
		font-size: 70px;
	}

	.titleimage {
		display: none;
	}
}





@media (min-width: 1080px) { 

/*INTRO SECTION*/

	#welcome {
		font-size: 70px;
	}

	
	.titleimage {
		width: 100%;
		height: auto;
	} /*not showing up?*/
}







