* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: #52a073
}






/*HEADER/NAV*/

.logo {
	width: auto;
	height: 400%;
}

.mobile-header {
	background-color: #91dcb1;
	height: 15%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 25px;
}

.hamburger {
	height: 6%;
	font-size: 35px;	
	color: #ffffff;
	line-height: 30px;
	cursor: pointer;
}

.expanded-menu ul {
	margin: 0 auto;
	width: 100%;
}

.expanded-menu li {
	height: 48px;
	width: 100%;
	text-align: center;
	line-height: 35px;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 25px;
	margin: 7px;
	border-bottom: 1px solid #e6e6e6;
	padding-bottom: 5px;
	margin-left: -1px;
}

.expanded-menu a {
	color: #91dcb1;
}

.hidden {
	display: none;
}

.section-title {
	padding: 25px;
	font-size: 45px;
	font-family: 'Muli', sans-serif;
	font-weight: 900;
}

.section-title::after {
	content: "";
	height: 3px;
	background-color: #e6e6e6;
	width: 100%;
	top: 50%;
	display: block;
}






/*INTRO SECTION*/

.intro-section {
	font-family: 'Roboto', sans-serif;
	margin-top: 30px;
	padding: 15px 25px 15px 25px;
}

.intro-section p {
	margin-top: 15px;
	font-size: 20px;
}

#welcome {
	font-family: 'Muli', sans-serif;
	font-size: 40px;
	color: #91dcb1;
}






/*PORTFOLIO SECTION*/

.portfolio-section {
	margin-top: 50px;
	margin-bottom: 30px;
}

.portfolio-title {
	color: #92c715;
	margin-bottom: 10px;
}

.project-section {
	width: 100%;	
}

.project-section a {
	display: block;
	font-size: 20px;
}

.screengrab {
	height: auto;
	width: 100%;
	max-width: 400px;
	margin: 0 auto;
	display: block;
	padding: 0 auto;
}

.img-wrap {
	border-top: 6px solid #e6e6e6;
	border-bottom: 6px solid #e6e6e6;
	background-color: #fff;
}

.project-title {
	margin: 10px 10px 0px 0;
	padding-left: 25px;
	font-family: 'Roboto', sans-serif;
	color: #52a073;
	font-weight: 700;
	font-size: 20px;
}

.read-more {
	line-height: 40px;
	padding-left: 25px;
	font-family: 'Roboto', sans-serif;
	color: #52a073;
	font-size: 20px;
}

.project-section p {
	font-family: 'Roboto', sans-serif;
	padding-left: 25px;
	margin: 10px 10px 0px 0px;
	color: #52a073;
	font-size: 20px;
}

.techs {
	color: #000;
	font-weight: 300;
}





/*ABOUT SECTION*/

.about-section {
	margin-bottom: 40px;
	margin-top: 100px;
}

.about-title {
	color: #72c1b9;
	margin-bottom: -15px;
}

.about-section div p {
	font-family: 'Roboto', sans-serif;
	margin: 10px;
	padding: 25px;
	font-weight: 300;
	font-size: 20px;
}

.selfie {
	width: auto;
	height: 40vh;
	margin: 15px 0px 10px 10px;
	border-top: 6px solid #e6e6e6;
	border-bottom: 6px solid #e6e6e6;
	border-left: 6px solid #e6e6e6;
	float: right;
}






/*CONTACT SECTION*/

.contact-title {
	color: #b8e35b;
	margin-left: -10px;
}

.contact-section {
	margin: 10px;
	font-family: 'Roboto', sans-serif;
	padding-bottom: 30px;
	font-size: 20px;
}

.contact-link {
	width: 100%;
	margin: 10px;
}

.contact-link a {
	color: #52a073;
	font-weight: 300;
	font-size: 20px;
}





/*FOOTER*/
footer {
	background-color: #91dcb1;
	height: 18vh;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	text-align: center;
	padding: 20px;
}

footer p {
	font-family: 'Roboto', sans-serif;
	color: #fff;
	padding: 10px;
	font-size: 20px;
}















@media (min-width: 480px max-height: 1079px) {

	/*HEADER*/

	.mobile-header {
		padding-left: 50px;
		padding-right: 50px;
	}

	.section-title {
		font-size: 70px;
		padding-left: 50px;
		padding-right: 50px;
	}

	/*INTRO SECTION*/

	.intro-section {
		padding: 15px 50px 15px 50px;
	}

	.intro-section p {
		font-size: 25px;
		font-weight: 400;
	}

	.welcome {
		font-size: 70px;
	}

	/*PORTFOLIO SECTION*/

	.project-title {
		font-size: 20px;
		padding: 20px 50px 0px 50px;
	}

	.read-more {
		font-size: 20px;
		padding-left: 50px;
		padding-right: 50px;
	}

	.project-section p {
		font-size: 20px;
		padding-left: 50px;
		padding-right: 50px;
	}

	.techs {
		font-weight: 300;
	}

	/*ABOUT SECTION*/

	.about-section div p {
		font-size: 20px;
	}

	/*CONTACT SECTION*/

	.contact-section {
		font-size: 20px;
	}

	.contact-link {
		font-size: 20px;
	}

	.contact-link a {
		font-size: 20px;
	}

	/*FOOTER*/

	footer p {
		font-size: 20px;
	}


}














@media (min-width: 1080px) { 

	.container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.nonnavpage {
		width: 77%;
		padding: 15px
	}

/*HEADER/NAV*/

	header {
		background-color: #91dcb1;
		flex-direction: column;
		justify-content: flex-start;
		height: 100vh; 
		position: fixed; /*changing this made the nonnavpage section go behind the sidebar???*/
		width: 20%;
	}

	.logo {
		width: 10vw; /*when i change this it makes the sidebar super wide?*/
		height: auto;		
	}

	.hamburger {
		display: none;
	}

	.expanded-menu {
		position: static;
	}

	.expanded-menu li {
		height: 20%;
		border-bottom: none;
		font-size: 20px;
		margin: 0 auto;
		color: white;
		font-weight: 300;
	}

	.expanded-menu a {
		color: white;
	}

	.menu-link {
		color: #fff;
	}

	.hidden {
		display: block;
	}

	#menucontact {
		display: none;
	}


	/*INTRO SECTION*/

	#welcome {
		font-size: 40px;
	}


	/*PORTFOLIO SECTION*/

	.portfolio-section {
		display: flex;
		justify-content: space-around;
	}

	.project-section {
		width: 40%;	
	}

	.img-wrap {
		border: 6px solid #e6e6e6;
	}


	/*CONTACT SECTION*/




}