* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', serif;
}

a {
	text-decoration: none;
}





/*HEADER/NAV*/

.name {
	font-family: 'Muli', sans-serif;
	font-weight: 900;
	font-size: 35px;
	letter-spacing: -1px;
	color: #ffffff;
}

.mobile-header {
	background-color: #91dcb1;
	padding: 10px;
	height: 12vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.hamburger {
	text-align: right;
	height: 6vh;
	font-size: 35px;	
	color: #ffffff;
}

.expanded-menu ul {
	margin: 0 auto;
	width: 100%;
}

.expanded-menu li {
	height: 48px;
	width: 100%;
	text-align: center;
	line-height: 35px;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 25px;
	margin: 7px;
	border-bottom: 1px solid #e6e6e6;
	padding-bottom: 5px;
	margin-left: -1px;
}

.expanded-menu a {
	color: #91dcb1 !important;
}

.hidden {
	display: none;
}

.section-title {
	padding: 15px;
	font-size: 45px;
	font-family: 'Muli', sans-serif;
	font-weight: 900;
}







/*PORTFOLIO SECTION*/

.portfolio-section {
	padding-top: 50px;
	padding-bottom: 30px;
}

.portfolio-title {
	color: #92c715;
	margin-bottom: 10px;
}

.project-section {
	width: 100%;
	height: 35vh;	
}

.project-section a {
	display: block;
}

.screengrab {
	height: auto;
	border-top: 6px solid #46765a;
	border-bottom: 6px solid #46765a;
	width: 100%;
}

.project-title {
	margin: 10px 10px 0px 0;
	padding-left: 15px;
	font-family: 'Roboto', sans-serif !important;
	color: #46765a;
	font-weight: 700;
}

.read-more {
	line-height: 40px;
	padding-left: 15px;
	font-family: 'Roboto', sans-serif !important;
	color: #46765a;
}





/*ABOUT SECTION*/

.about-section {
	padding-bottom: 40px;
}

.about-title {
	color: #72c1b9;
	padding-top: 100px;
	margin-bottom: -15px;
}

/*.about-flex {
	display: flex;
	flex-direction: row-reverse;
}*/

.about-section div p {
	font-family: 'Roboto', sans-serif !important;
	margin: 10px;
	padding: 10px;
	font-size: 13px;
}

.selfie {
	width: auto;
	height: 29vh;
	margin: 15px 0px 10px 10px;
	border-top: 6px solid lightgrey;
	border-bottom: 6px solid lightgrey;
	border-left: 6px solid lightgrey;
	float: right;
}






/*CONTACT SECTION*/

.contact-title {
	color: #b8e35b;
	margin-left: -10px;
}

.contact-section {
	margin: 10px;
	font-family: 'Roboto', sans-serif !important;
	padding-bottom: 30px;
}

.contact-link {
	width: 100%;
	margin: 10px;
	font-size: 18px;
}

.contact-link a {
	color: #52a073;
}





/*FOOTER*/
footer {
	background-color: #91dcb1;
	height: 15vh;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	text-align: center;
	margin: 0;
	padding: 0;
}

footer p {
	font-family: 'Roboto', sans-serif !important;
	color: #fff;
	padding: 20px;
}


