* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', serif;
}

a {
	text-decoration: none;
}

/*@media (max-width: 798px) {*/

	/*HEADER/NAV*/

	.name {
		font-family: 'Muli', sans-serif;
		font-weight: 900;
		font-size: 55px;
		letter-spacing: -1px;
		padding-left: 8px;
		color: #ffffff;
		padding-top: 2px;
	}

	.mobile-header {
		background-color: #91dcb1;
		padding: 10px;
		height: 12vh;
	}

	.hamburger {
		text-align: right;
		height: 6vh;
		font-size: 35px;
		line-height: 70px;		
		font-family: 'Muli', sans-serif;
		padding-right: 12px;
		color: #ffffff;
	}

	.mobile-header h1 {
		float: left;
	}

	.expanded-menu ul {
		margin: 0 auto;
		width: 100%;
	}

	.expanded-menu li {
		height: 45px;
		width: 100%;
		text-align: center;
		line-height: 35px;
		font-family: 'Roboto', sans-serif;
		font-weight: 700;
		font-size: 25px;
		margin: 7px;
		border-bottom: 1px solid #e6e6e6;
		padding-bottom: 5px;
		margin-left: -1px;
	}

	.expanded-menu a {
		color: #91dcb1 !important;
	}

	.hidden {
		display: none;
	}

	.section-title {
		padding: 15px;
		font-size: 60px;
		font-family: 'Muli', sans-serif;
		font-weight: 900;
	}

	/*PORTFOLIO SECTION*/

	.portfolio-section {
		padding-top: 50px;
		padding-bottom: 30px;
	}

	.portfolio-title {
		color: #92c715;
		margin-bottom: 10px;
	}

	.project-section {
		width: 100%;
		height: 35vh;	
	}

	.project-section a {
		display: block;
	}

	/*.grey-box {
		height: 185px;
		background-color: #e6e6e6;
		border-top: 6px solid #46765a;
		border-bottom: 6px solid #46765a;
	}*/

	.screengrab {
		height: 35vh;
		border-top: 6px solid #46765a;
		border-bottom: 6px solid #46765a;
		width: auto;
	}

	.project-title {
		margin: 10px 10px 0px 0;
		padding-left: 15px;
		font-family: 'Roboto', serif;
		color: #46765a;
		font-weight: 700;
	}

	.read-more {
		line-height: 40px;
		padding-left: 15px;
		font-family: 'Roboto', serif;
		color: #46765a;
	}

	/*ABOUT SECTION*/

	.about-section {
		padding-bottom: 40px;
	}

	.about-title {
		color: #72c1b9;
		padding-top: 100px;
		margin-bottom: -15px;
	}

	/*#placeholder {
		height: 200px;
		width: 180px;
		float: right;
		display: inline;
		background-color: gray;
		margin: 20px;
		margin-top: 0;
	}*/

	.about-flex {
		display: flex;
		flex-direction: row-reverse;
	}

	.about-section div p {
		margin: 10px;
		font-family: 'Roboto', serif;
		padding: 10px;
	}

	.selfie {
		width: auto;
		height: 29vh;
		margin: 15px 0px 10px 10px;
		border-top: 6px solid #3e8e86;
		border-bottom: 6px solid #3e8e86;
		border-left: 6px solid #3e8e86;
	}

	/*CONTACT SECTION*/

	.contact-title {
		color: #b8e35b;
		margin-left: -10px;
	}

	.contact-section {
		margin: 10px;
		font-family: 'Roboto', serif;
		padding-bottom: 30px;
	}

	.contact-link {
		width: 100%;
		margin: 10px;
		font-size: 18px;
	}

	.contact-link a {
		color: #52a073;
	}

	/*FOOTER*/
	footer {
		background-color: #91dcb1;
		height: 10vh;
		display: block;
		text-align: center;
	}

	footer p {
		font-family: 'Roboto', sans-serif !important;
		color: #fff;
		padding: 20px;
	}


