body {
	margin: 0;
}

#mobile-header {
}

#hamburger {
	border: 1px solid red;
	text-align: right;
	height: 6vh;
	font-size: 35px;
	line-height: 42px;
}

#mobile-header h1 {
	height: 6vh;
	margin: 0;
	border:	1px solid red;
	float: left;
}

#mobile-header ul {
	margin: 0 auto;
	width: 100%;
	padding: 0;
}

#mobile-header li {
	width: 100%;
	text-align: center;
	border: 1px solid red;
}

#mobile-header a {
	text-decoration: none; 
}

#expanded-menu {
	width: 100%;
}