* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
}

a {
	text-decoration: none;
}

p {
	font-family: 'Roboto', sans-serif;
}





/*HEADER/NAV*/

.logo {
	width: auto;
	height: 38px;
}

.mobile-header {
	background-color: #91dcb1;
	height: 14vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px;
}

.hamburger {
	height: 6vh;
	font-size: 35px;	
	color: #ffffff;
	line-height: 30px;
	cursor: pointer;
}

.expanded-menu ul {
	margin: 0 auto;
	width: 100%;
}

.expanded-menu li {
	height: 48px;
	width: 100%;
	text-align: center;
	line-height: 35px;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 25px;
	margin: 7px;
	border-bottom: 1px solid #e6e6e6;
	padding-bottom: 5px;
	margin-left: -1px;
}

.expanded-menu a {
	color: #91dcb1 !important;
}

.hidden {
	display: none;
}

.section-title {
	padding: 3vw;
	font-size: 45px;
	font-family: 'Muli', sans-serif;
	font-weight: 900;
}

.section-title::after {
	content: "";
	height: 3px;
	background-color: #e6e6e6;
	width: 100%;
	top: 50%;
	display: block;
}



/*ABOUT PROJECT*/

.moreinfo {
	display: flex;
	flex-direction: row-reverse;
	margin-top: 30px;
}

.mobileversionimg {
	width: 60vw;
	height: 100%;
	margin: 10px;
}

.infocontent {
	display: flex;
	flex-direction: column;
}

.sitetitle {
	font-family: 'Roboto', sans-serif;
	margin: 10px;
	color: #52a073;
	font-size: 17px;
}

.sitetitle::after {
	content: "";
	height: 3px;
	background-color: #e6e6e6;
	width: 100%;
	top: 50%;
	display: block;
	margin-top: 5px;
}

.techused {
	font-family: 'Roboto', sans-serif;
	margin: 10px;
	color: #52a073;
	font-size: 15px;
}

.techs {
	font-family: 'Roboto', sans-serif;
	margin: 0px 10px 10px 10px;
	font-size: 15px;
}

.siteinfo {
	margin: 10px;
	font-family: 'Roboto', sans-serif;
	display: block;
}

.desktopversionimg {
	width: 90%;
	margin: 10px;
	height: auto;
}







/*FOOTER*/
footer {
	background-color: #91dcb1;
	height: 15vh;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	text-align: center;
	margin: 0;
	padding: 0;
}

footer p {
	font-family: 'Roboto', sans-serif !important;
	color: #fff;
	padding: 20px;
}


